.Conteiner_Principal {
  background-color: #ddd9ce;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login {
  background-color: #610c27;
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  font-size: 20px;
}
.Texto {
  background-color: rgba(163, 201, 13, 0);
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.Acessar {
  background-color: #ddd9ce;
  width: 250px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 20px;
}

#Usuario {
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

#email {
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

#Senha {
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

#SenhaRepit {
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}