.Site {
  background-color: #e3c1b4;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ConteinerPrincipal_1 {
  background-color: #610c27;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_2 {
  background-color: #610c27;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid;
}

.Position_fixed {
  position: sticky;
  top: 0px;
  z-index: 200;
}

.ConteinerPrincipal_3 {
  background-color: #e3c1b4;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_4 {
  background-color: #610c2700;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_5 {
  background-color: #e3c1b4;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.ConteinerPrincipal_6 {
  background-color: #e3c1b4;
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 55px;
}

.ConteinerPrincipal_7 {
  background-color: #e3c1b4;
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.ConteinerPrincipal_8 {
  background-color: #e3c1b4;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 55px;
}

.ConteinerPrincipal_9 {
  background-color: #610c2700;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_10 {
  background-color: #e3c1b4;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.ConteinerPrincipal_11 {
  background-color: #610c2700;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_12 {
  background-color: #e3c1b4;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.ConteinerPrincipal_13 {
  background-color: #610c2700;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_14 {
  background-color: #e3c1b4;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.ConteinerPrincipal_15 {
  background-color: #e3c1b4;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_16 {
  background-color: #610c2700;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConteinerPrincipal_17 {
  background-color: #e3c1b4;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.ConteinerPrincipal_18 {
  background-color: #efece9;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.Informações_1 {
  background-color: #ddd9ce;
  width: 33%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Informações_3 {
  background-color: #ddd9ce;
  width: 34%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Nome_da_Loja {
  background-color: #610c27;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Barra_de_Pesquisa {
  width: 900px;
  padding: 10px 30px;
  font-size: 25px;
  border-radius: 50px;
  border: 3, 5px solid black;
}

.Logo {
  background-color: #610c27;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.Login {
  background-color: #610c27;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tema_Escuro {
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conteiner_1 {
  background-color: black;
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conteiner_2 {
  background-color: antiquewhite;
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conteiner_3 {
  background-color: antiquewhite;
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conteiner_4 {
  background-color: antiquewhite;
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conteiner_5 {
  background-color: antiquewhite;
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Caixa_1 {
  background-color: #ddd9ce;
  width: 600px;
  height: 185px;
  border: 1px solid black;
  border-radius: 10px;
}

#Caixa_2 {
  background-color: #ddd9ce;
  width: 600px;
  height: 185px;
  border: 1px solid black;
  border-radius: 10px;
}

#Caixa_3 {
  background-color: #ddd9ce;
  width: 600px;
  height: 185px;
  border: 1px solid black;
  border-radius: 10px;
}

#Caixa_4 {
  background-color: #ddd9ce;
  width: 600px;
  height: 185px;
  border: 1px solid black;
  border-radius: 10px;
}

#Caixa_5 {
  background-color: #ddd9ce;
  width: 400px;
  height: 105px;
  border: 1px solid black;
  border-radius: 10px;
}

#Caixa_6 {
  background-color: #ddd9ce;
  width: 400px;
  height: 105px;
  border: 1px solid black;
  border-radius: 10px;
}

#Caixa_7 {
  background-color: #ddd9ce;
  width: 400px;
  height: 105px;
  border: 1px solid black;
  border-radius: 10px;
}

.Produto_1 {
  background-color: #ac9c8d00;
  width: 225px;
  height: 290px;
  border-radius: 5px;
  border: 0, 5px solid black;
  transition: transform 0.3s ease;
}

.Produto_1:hover {
  transform: translateY(-5px);
}
