/* Estilos para o tema claro (padrão) */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

.container {
    padding: 2em;
    text-align: center;
}

/* Estilos do Switch (botão de alternância) */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Tema escuro */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode header {
    background-color: #333;
}

/* Alterna o tema quando a caixa de seleção for marcada */
input:checked ~ body {
    background-color: #121212;
    color: #fff;
}

input:checked ~ body header {
    background-color: #333;
}
